.custom-package-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f9f9f9;
}

.custom-layout {
    display: flex;
    max-width: 1200px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Left Side - Image */
.room-image-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.room-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Right Side - Form */
.form-container {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
}

.input-style,
.select-style,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.grid-container {
    display: flex;
    gap: 10px;
}

.submit-btn {
    background-color:#2e1834;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.error-text {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

.status-message {
    margin-top: 15px;
    font-size: 14px;
    color: green;
}